@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Acesse o controller Usuário no menu superior para acessar o CRUD de usuários</p>
    <p>Este exemplo contém banco de dados "In-Memory" que é automaticamente apagado após o uso</p>
</div>
